.bookingSection {
  background: url("./booking-section.svg") no-repeat center center;
  background-size: cover;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  gap: 20px;
  margin-bottom: 2em;
}

.bookingForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.bookingTabs {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.tab {
  padding: 10px 15px;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.tab.active1,
.tab:hover {
  background-color: transparent;
  border-bottom: #fff 1px solid;
  border-radius: 0;
  color: rgba(255, 255, 255, 1);
}

.vehicleTypeDropdown {
  padding: 1em 2em;
  border-radius: 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  cursor: pointer;
}

.vehicleTypeDropdown:hover {
  border-bottom: #fff 0px solid;
  border-width: 0;
}

.vehicleTypeDropdown option {
  color: #000000;
}

.quickBookContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 20px;
}
.searchIcon {
  background: white;
  border-radius: 30%;
  width: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brdr {
  height: 2em;
  border-left: #fff 1px solid;
}

.searchBtn {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.locationSelect,
.dateTimeSelect {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 15%;
}

.locationDropdown,
.date-picker,
.time-picker {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: none;
}

.datetimePicker {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: none;
  text-align: center;
}

.quickBookButton {
  display: flex;
  justify-content: center;
}

.quickBook {
  padding: 10px 20px;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  border-radius: 15px;
  cursor: pointer;
}

.appDownload {
  display: flex;
  width: 100%;
  float: left;
}

.appButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.appButtons img {
  height: 40px;
  margin: 5px;
}

.mobileBook {
  display: none;
}

.bookingButtons {
  display: flex;
  justify-content: center;
}

/* Specific styles for the search button variation */
.srch {
  border: none;
  font-size: 24px;
  cursor: pointer;

  color: white; /* Text color */
  border: 1px solid red; /* Red border */
  border-radius: 15px; /* Rounded corners */
  padding: 10px 20px; /* Padding */
  min-width: fit-content;
  max-width: max-content;

  border-radius: 4px;
  background-color: #e21e26;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;

  display: block; /* Required for 'margin: 0 auto;' to work */
  margin: 0 auto; /* Centers the button horizontally */
  position: relative; /* Allows for more control over positioning if needed */
}

@media (max-width: 768px) {
  .bookingSection {
    margin-bottom: 0;
  }

  .appDownload {
    flex-direction: column;
  }
  .quickBookContainer {
    display: none;
  }

  .mobileBook {
    display: block;
    margin: 1em 0;
  }

  .quickBook {
    border-radius: 4px;
    background-color: #e21e26;
  }

  .quickbookbtn {
    background-color: #fff;
    color: #e21e26;
    border: #e21e26 1px solid;
  }

  .srch {
  }

  .quickBookContent {
    display: none;
    margin-top: 1em;
  }

  .bookingForm {
    display: none;
  }

  .bookingTabs {
    justify-content: center;
  }

  .locationDropdown,
  .datetimePicker {
    background-color: #f8f8f8;
    margin-bottom: 1em;
  }

  .locationSelect,
  .dateTimeSelect {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }

  .locationDropdown,
  .date-picker,
  .time-picker,
  .datetimePicker {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .bookingSection {
    padding: 10px;
  }

  .bookingForm {
    flex-direction: column;
    align-items: flex-start;
  }

  .bookingTabs {
    flex-direction: column;
    gap: 10px;
  }

  .quickBookContainer {
    flex-direction: column;
  }

  .locationSelect,
  .dateTimeSelect {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  .locationDropdown,
  .date-picker,
  .time-picker {
    width: 100%;
  }

  .locationSelect,
  .dateTimeSelect {
    flex-direction: column;
  }

  .locationDropdown,
  .datetimePicker {
    width: 100%;
  }
}
