.popularCars h2 {
  margin: 0.5em 0;
}

.flexContainer {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 0;
  gap: 20px;
}

.flexContainer > div {
  background-color: #f1f1f1;
  margin: 10px;
  font-size: 30px;
  gap: 0px;
}

.flexContainer > div > h3 {
  font-family: Poppins;
  font-size: 28.21px;
  font-weight: 500;
  line-height: 42.31px;
  text-align: left;
}

.flexContainer > div > p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18.5px;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: center;
}

.carContainer {
  width: 60%;
  min-height: min-content;
  min-width: min-content;
  display: flex;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 0 0 auto;
  justify-content: space-between;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  margin-bottom: 20px;
}

.carDeets {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  text-align: left;
  flex-grow: 1;
  text-align: left;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  overflow: visible;
  white-space: normal;
}

.carp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 2.5em;
  padding-right: 2.5em;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18.5px;
  text-align: left;
  gap: 0px;
  opacity: 0.8px;
}

.carDeets h3 {
  display: flex;
  justify-content: flex-start;
  align-items: Left;
  max-height: 42px;
  gap: 0px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  text-align: left;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  margin: 1em 0;
}

.carFeat {
  gap: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 17px;
  gap: 0px;
  justify-content: space-evenly;
  margin-top: auto;
}

.carFeat ul {
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.carFeatIco {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carFeatIco p {
  gap: 0px;
  opacity: 0.9px;
  font-family: Poppins;
  font-size: 11px;
  font-weight: 500;
  line-height: 16.5px;
  letter-spacing: -0.02em;
  text-align: left;
}

.carFeatIco div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carFeatIco img {
  padding-right: 8px;
  margin-right: 8px;
}

.carBk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 1em;
}

.carBk h4 {
  gap: 4px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #1a202c;
  margin: 0;
  justify-content: flex-start;
}

.carBook,
.getLinkBtn,
.subscribeBtn {
  /* opacity: 0.8; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 48px;
  background-color: #e21e26;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.5em 1em;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  cursor: pointer;
  text-align: center;
  gap: 8px;
  border-radius: 4px 0px 0px 0px;
  /* opacity: 0px; */
  white-space: nowrap;
}

.carBook:hover {
  background-color: var(--green-colour);
}

@media (max-width: 768px) {
  /* Responsive behavior for smaller screens */
  .flexContainer {
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .carContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    max-width: min-content;
    box-sizing: border-box;
  }

  .carImage {
    width: 100%;
    height: auto;
  }

  .carDeets h3 {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    
  }

  .carDeets {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    padding: 0.25em;
    text-align: left;
    overflow: visible;

  }

  .carp {
    padding: 0;
    margin: 0;
    opacity: 0.75;
  }

  .carBk {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 0.25em;
    margin-left: 0.25em;
    margin-right: auto;
  }

  .carBook {
    width: 50%;
  }
}
