.rentLease {
  text-align: center;
}

.rentLeaseBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin-top: 0;
}

.step h2 {
  color: #e21e26;
  margin-bottom: 10px;
}

.rentLeaseCard {
  border: 1px solid #000000;
  /* width: 348px; */
  /* height: 178px; */
  width: 100%;
  max-width: 25em;
  min-width: 25em;
  min-height: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.rentLeaseImage {
  margin-bottom: 10px;
  width: 15%;
  height: auto;
}

.rentLeaseText {
  font-size: 14px;
  margin: 0;
}

.rentLease h2 {
  font-family: Poppins, sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 51px;
}

@media (min-width: 768px) {
  .rentLease {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .rentLeaseBody {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .rentLeaseCard {
    max-width: 0;
    width: 100%;
  }

  .rentLeaseText {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.5px;
    text-align: center;
    opacity: 0.8;
  }
}

@media screen and (max-width: 768px) {
  .rentLease h2 {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    text-align: left;
    margin: .5em 0;
  }
}
